.downloadform {
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    padding: 70px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.5);
    position: relative;
}

.downloadform form > div {
    display: block;
    float: left;
    width: 100%;
    margin: 0 0 9px 0;
}

.downloadform__message--error {
    width: auto;
    margin: 0 0 6px 0;
    float: left;
    display: block;
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4;
    position: relative;
    font-size: 11px;
    padding: 2px 10px;
    max-width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.downloadform__message--error p {
    margin: 0;
}

.downloadform__message--error:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20px;
    height: 0;
    width: 0;
    border: 5px solid transparent;
    border-top-color: #fbe3e4;
}

.downloadform input[type="text"] {
    width: 100%;
}

/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.7;
    background-color: rgb(119, 119, 119);
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.mfp-close.mfp-close, .mfp-close.mfp-close:active {
    color: #fff;
    background: #000;
    width: 30px;
    height: 30px;
    border: 3px solid #fff;
    line-height: 26px;
    border-radius: 20px;
    box-shadow: 0 0 5px #333;
    top: -15px;
    right: -15px;
    opacity: 1;
}

.mfp-close-btn-in.mfp-close-btn-in .mfp-close {
    color: #fff;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}