<f:format.padding padLength="5" padString=" "><f:translate extensionName="{extensionName}" key="tx_pbdownloadform_domain_model_userdata.file" /></f:format.padding>:         <f:format.padding padLength="5" padString=" ">{userData.originalResource.identifier}</f:format.padding>
<f:format.padding padLength="5" padString=" "><f:translate extensionName="{extensionName}" key="tx_pbdownloadform_domain_model_userdata.name" /></f:format.padding>:         <f:format.padding padLength="5" padString=" ">{userData.name}</f:format.padding>
<f:format.padding padLength="5" padString=" "><f:translate extensionName="{extensionName}" key="tx_pbdownloadform_domain_model_userdata.company" /></f:format.padding>:      <f:format.padding padLength="5" padString=" ">{userData.company}</f:format.padding>
<f:format.padding padLength="5" padString=" "><f:translate extensionName="{extensionName}" key="tx_pbdownloadform_domain_model_userdata.telephone" /></f:format.padding>:   <f:format.padding padLength="5" padString=" ">{userData.telephone}</f:format.padding>
<f:format.padding padLength="5" padString=" "><f:translate extensionName="{extensionName}" key="tx_pbdownloadform_domain_model_userdata.email" /></f:format.padding>:        <f:format.padding padLength="5" padString=" ">{userData.email}</f:format.padding>
<f:format.padding padLength="5" padString=" "><f:translate extensionName="{extensionName}" key="tx_pbdownloadform_domain_model_userdata.zip" /></f:format.padding>:          <f:format.padding padLength="5" padString=" ">{userData.zip}</f:format.padding>
<f:format.padding padLength="5" padString=" "><f:translate extensionName="{extensionName}" key="tx_pbdownloadform_domain_model_userdata.city" /></f:format.padding>:         <f:format.padding padLength="5" padString=" ">{userData.city}</f:format.padding>
