{namespace pb=PlusB\PbDownloadform\ViewHelpers}

<li>
    <a data-hash="{file.storage.uid}:{file.hashedIdentifier}"
       class="file {pb:mimeTypeToClass(mimeType: file.mimeType)}"
       target="_blank"
       href="{f:if(condition: settings.disable-form, then: '{settings.baseURL}{file.publicUrl}', else: '#')}">
        <f:if condition="{file.title}">
            <f:then>{file.title}</f:then>
            <f:else>{file.name}</f:else>
        </f:if>
    </a>
</li>