<div class="downloadform cf mfp-hide">
    <h3><f:translate key="tx_pbdownloadform_domain_model_userdata.form.header"/></h3>

    <f:form action="download" name="userData" object="{userData}" class="js-downloadform" >

        <f:if condition="{settings.nameEnabled} == 1">
            <div>
                <f:render partial="Error/Property"      arguments="{property: 'userData.name'}" />
                <f:form.textfield property="name"       placeholder="{f:translate(key: 'tx_pbdownloadform_domain_model_userdata.name')}" />
            </div>
        </f:if>

        <f:if condition="{settings.companyEnabled} == 1">
            <div>
                <f:render partial="Error/Property"      arguments="{property: 'userData.company'}" />
                <f:form.textfield property="company"    placeholder="{f:translate(key: 'tx_pbdownloadform_domain_model_userdata.company')}" />
            </div>
        </f:if>

        <f:if condition="{settings.telephoneEnabled} == 1">
            <div>
                <f:render partial="Error/Property"      arguments="{property: 'userData.telephone'}" />
                <f:form.textfield property="telephone"  placeholder="{f:translate(key: 'tx_pbdownloadform_domain_model_userdata.telephone')}" />
            </div>
        </f:if>

        <f:if condition="{settings.emailEnabled} == 1">
            <div>
                <f:render partial="Error/Property"      arguments="{property: 'userData.email'}" />
                <f:form.textfield property="email"      placeholder="{f:translate(key: 'tx_pbdownloadform_domain_model_userdata.email')}" />
            </div>
        </f:if>

        <f:if condition="{settings.zipEnabled} == 1">
            <div>
                <f:render partial="Error/Property"      arguments="{property: 'userData.zip'}" />
                <f:form.textfield property="zip"        placeholder="{f:translate(key: 'tx_pbdownloadform_domain_model_userdata.zip')}" />
            </div>
        </f:if>

        <f:if condition="{settings.cityEnabled} == 1">
            <div>
                <f:render partial="Error/Property"      arguments="{property: 'userData.city'}" />
                <f:form.textfield property="city"       placeholder="{f:translate(key: 'tx_pbdownloadform_domain_model_userdata.city')}" />
            </div>
        </f:if>

        <f:if condition="{settings.legalNotice}">
            <div>
              <f:format.html>{settings.legalNotice}</f:format.html>
            </div>
        </f:if>

        <div>
            <f:render partial="Error/Property"      arguments="{property: 'userData.setCookie'}" />
            <f:form.checkbox property="setCookie"   value="1" checked="{userData.setCookie} === TRUE"/>&nbsp;
            <label for="tx_pbdownloadform_downloadform[userData][setCookie]"><f:translate key="tx_pbdownloadform_domain_model_userdata.set_cookie"/></label>
        </div>

        <div>
            <f:form.submit name="download" value="{f:translate(key: 'tx_pbdownloadform_domain_model_userdata.download')}" />
            <f:form.hidden    property="file"       value="{storageUidAndHash}"/>
        </div>

    </f:form>
</div>
