<f:form.validationResults for="{property}">
    <f:if condition="{validationResults.errors}">
        <div class="downloadform__message--error">
            <f:for each="{validationResults.errors}" as="error">
                <p class="downloadform_message-text"><f:translate key="tx_pbdownloadform_domain_model_userdata.error.{error.code}">{error.message}</f:translate></p>
            </f:for>
        </div>
    </f:if>
    <f:if condition="{validationResults.warnings}">
        <div class="downloadform__message--warning">
            <f:for each="{validationResults.warnings}" as="warning">
                <p class="downloadform_message-text"><f:translate key="tx_pbdownloadform_domain_model_userdata.warning.{warning.code}">{warning.message}</f:translate></p>
            </f:for>
        </div>
    </f:if>
    <f:if condition="{validationResults.notices}">
        <div class="downloadform__message--notice">
            <f:for each="{validationResults.notices}" as="notice">
                <p class="downloadform_message-text"><f:translate key="tx_pbdownloadform_domain_model_userdata.notice.{notice.code}">{notice.message}</f:translate></p>
            </f:for>
        </div>
    </f:if>
</f:form.validationResults>