<f:layout name="Default" />

<f:section name="main">

    <ul>
        <f:for each="{files}" as="file">
            <f:render partial="File/File" arguments="{file: file}" />
        </f:for>
    </ul>

    <f:if condition="{settings.disable-form}">
        <f:then></f:then>
        <f:else>
            <f:render partial="UserData/Form" arguments="{userData: userData}" />
        </f:else>
    </f:if>
</f:section>